.users {
    display: flex;
    flex-direction: column;
}

.user {
    padding: 15px;
    border: 1px dotted #9F494D;
}

.button {
    padding-left: 25px;
    color: #7E9846;
}

.userPhoto {
    width: 100px;
    height: 100px;
}

.selectedPage {
    font-weight: bold;
}

