.descriptionBlock {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mainPhoto {
    max-width: 150px;
}

.contact {
    padding-left: 10px;
}